@using DhWeb.Models
@model HomeViewmodel
@{
    ViewBag.Title = "Index";
}

<div id="main-top-image">
    <img src="@Model.mainImageUrl" alt="topp bilden" />
</div>

<p>
   @Model.presentationText
</p>